/*.Content {
  height: 88vh;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 10vh;
  text-align: center;
  overflow: auto;
}

.Content::-webkit-scrollbar {
  display: none;
}

.Content {
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}*/