.DataList{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.DataList-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.DataList-block {
  flex: 1;
}


.DataList-header {
  display: flex;
  margin: 10px;
}

.DataList-name {
  font-weight: bold;
  flex: 2;
}

.DataList-options {
  font-weight: bold;
  flex: 1;
}

.DataList-list {
  padding: 10px;
  height: 60vh;
  overflow: auto;
}
