.Datas-pagination {
  margin-left: 5px;
}

.Datas-tools {
  display: inline-flex;
  text-align: center;
  margin: 10px;
  padding: 20px;
  width: 98.5%;
  justify-content: center;

  background: rgba(255,255,255,0.1);
  padding: 1em;
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 20px;
}

.Datas-tools-single {
  display: inline-block;
  margin: 10px;
}